<% if signed_in? %> 
<p id="notice"><%= notice %></p>

  <h1>Listings</h1>
  <table>
    <tbody>
    <div class="container">
        <div class="row">
      <% @listings.each do |listing| %>
          <div class="col-xl">
            <div class="card" style="width: 18rem;">
              <% if listing.image.url.present? %>
                <%= image_tag listing.image.url, class: 'card-img-top' %>
              <% end  %>
                <div class="card-body">
                <h5 class="card-title"><%= listing.name %></h5>
                <p class="card-text"><%= listing.desc %></p>
                <p class="card-text">$<%= listing.price %></p>
                  <% if current_user.customer? %>
                  <a class="btn btn-primary" <%= link_to 'Show', listing %></a></a>
                  <% else %>
                  <a class="btn btn-primary" <%= link_to 'Show', listing %></a></a>
                  <a class="btn btn-primary" <%= link_to 'Edit', edit_listing_path(listing) %></a></a>
                  <a class="btn btn-primary" <%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></a></a>
                  <% end %>
                  </div>
                </div>
              </div>
            <% end %>
            </div>
    </div> 
    </tbody>
  </table>

  <br>

  <%= will_paginate @listings %>
  <%= link_to 'New Listing', new_listing_path %>
  <style type="text/css">
  .pagination {
    font-size: 12px;
}

.pagination > * {
    margin-right: 0.1em;
    padding: 0.3em 0.4em;
}

.pagination a:hover {
    background: #202020 none repeat scroll 0 0;
    text-shadow: 1px 1px 1px #171717;
}

.pagination a:active {
    text-shadow: none;
}

.pagination .current {
    background: #202020 none repeat scroll 0 0;
    color: white;
    text-shadow: 1px 1px 1px #171717;
}

.pagination .disabled {
    color: #C0C0C0;
}
</style>
  <% else %>
  <script type="text/javascript">
    window.location = "/";
  </script>
<% end %>