<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @listing.name %>
</p>

<%= image_tag @listing.image.url %>

<p>
  <strong>Description:</strong>
  <%= @listing.desc %>
</p>

<p>
  <strong>Place Type:</strong>
  <%= @listing.place_type %>
</p>

<p>
  <strong>Property Type:</strong>
  <%= @listing.property_type %>
</p>

<p>
  <strong>Room Number:</strong>
  <%= @listing.room_number %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Bed Number:</strong>
  <%= @listing.bed_number %>
</p>

<p>
  <strong>Guest Number:</strong>
  <%= @listing.guest_number %>
</p>

<p>
  <strong>Country:</strong>
  <%= @listing.country %>
</p>

<p>
  <strong>State:</strong>
  <%= @listing.state %>
</p>

<p>
  <strong>City:</strong>
  <%= @listing.city %>
</p>

<p>
  <strong>Zip Code:</strong>
  <%= @listing.zipcode %>
</p>

<p>
  <strong>Street Address:</strong>
  <%= @listing.street_address %>
</p>

<p>
  <strong>Verified:</strong>
  <%= @listing.verified %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
