<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :desc %>
    <%= form.text_field :desc %>
  </div>

  <div class="field">
    <%= form.label :amenities %>
    <%= form.text_field :amenities %>
  </div>

  <div class="field">
    <%= form.label :house_rules %>
    <%= form.text_field :house_rules %>
  </div>

  <div class="field">
    <%= form.label :reviews %>
    <%= form.text_field :reviews %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :host %>
    <%= form.text_field :host %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :similar_listings %>
    <%= form.text_field :similar_listings %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
