<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @post.desc %>
</p>

<p>
  <strong>Amenities:</strong>
  <%= @post.amenities %>
</p>

<p>
  <strong>House rules:</strong>
  <%= @post.house_rules %>
</p>

<p>
  <strong>Reviews:</strong>
  <%= @post.reviews %>
</p>

<p>
  <strong>Price:</strong>
  <%= @post.price %>
</p>

<p>
  <strong>Host:</strong>
  <%= @post.host %>
</p>

<p>
  <strong>Location:</strong>
  <%= @post.location %>
</p>

<p>
  <strong>Similar listings:</strong>
  <%= @post.similar_listings %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
